#container {
    height: 35em;
    width: 50em;
}
#tags span{
    float: left;
    position: relative;
    color: #123311;
    font-size: 1.5em;
    font-family: Arial;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    width: 8em;
    height: 3em;
    background: linear-gradient(to bottom, #6392e8 50%, #8ab2f2);
    border-radius: 7px;
    box-shadow: inset 1px -1px 3px 1px rgba(0, 0, 0, 0.5);
    margin: 0 50px 11px 0;
    line-height: 3em;
    text-align: center;
}
#tags span.current{
    background: linear-gradient(to bottom, #07288e 50%, #3658e2);
    color: #daefda;
    top: 0.2em;
}
#tags span:hover{
    background: linear-gradient(to bottom, #07288e 50%, #3658e2);
    color: #daefda;
}
#tags span:active{
    top: 0.2em;
}
